<ion-header>
  <ion-toolbar>
    <ion-title>Clima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ciudad</ion-label>
    <ion-input [(ngModel)]="city"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="getWeather(city)">Obtener Clima</ion-button>

  <div *ngIf="weatherData">
    <h2>{{ weatherData.name }}</h2>
    <p>Temperatura: {{ weatherData.main.temp }}K</p>
    <p>Clima: {{ weatherData.weather[0].description }}</p>
  </div>
</ion-content>
